@import "../../../scss/imports";

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 5px rgba(32, 215, 228, 0.81))
      drop-shadow(0 0 7px rgba(32, 215, 228, 0.81));
  }
  50% {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 10px rgba(32, 215, 228, 0.81))
      drop-shadow(0 0 15px rgba(32, 215, 228, 0.81));
  }
  100% {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 5px rgba(32, 215, 228, 0.81))
      drop-shadow(0 0 7px rgba(32, 215, 228, 0.81));
  }
}

.sponsor_container {
  padding: 100px 80px 160px;
}
.cont {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 0 auto;
  align-items: flex-start;
  vertical-align: auto;
  justify-content: center;
}
.hr-container {
  padding: 8px 40px;
  display: inline-block;
}
.hr-txt {
  margin-left: 128px;
  width: 80px;
  padding-top: 10px;
}
.hr-txt2 {
  width: 208px;
  padding-top: 10px;
}
.hr-txt3 {
  width: 80px;
  padding-top: 10px;
}
.sponsors_text {
  width: max-content;
  height: 73px;
  // font-family: Gilroy;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.sponsor_wrapper {
  padding-top: 48px;
  display: flex;
  justify-content: space-evenly;
}
.sponsor_one {
  height: 128px;
  animation: glow 4s linear infinite;
}
.sponsor_two {
  height: 128px;
  animation: glow 4s linear infinite;
}
.sponsor_three {
  height: 128px;
  animation: glow 4s linear infinite;
}
.sponsor_four {
  height: 128px;
  animation: glow 4s linear infinite;
}
