@import "../../../scss/imports";

.sponsorContainer {
  padding: 5rem 5rem 10rem;
}
.cont {
  padding: 3rem;
  display: flex;
  width: max-content;
  height: max-content;
  margin: 0 auto;
  align-items: center;
  vertical-align: auto;
  justify-content: center;
}
.hr-container {
  padding: 2.5rem;
  display: inline-block;
}
.hr-txt {
  margin-left: 8rem;
  width: 5rem #29abe2;
  padding-top: 0.6rem;
}
.hr-txt2 {
  width: 13rem;
  padding-top: 0.6rem;
}
.hr-txt3 {
  text-decoration-color: #29abe2;
  width: 5rem;
  padding-top: 0.6rem;
}
.sponsorsText {
  width: max-content;
  height: 73px;
  // font-family: Gilroy;
  font-size: 60px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.sponsorWrapper {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(auto, auto);
}
.sponsorOne {
  grid-column: 1;
  grid-row: 1;
  box-shadow: 0 0 15px 0 rgba(32, 215, 228, 0.81);
}
.sponsorTwo {
  grid-column: 2;
  grid-row: 1;
  box-shadow: 0 0 15px 0 rgba(32, 215, 228, 0.81);
}
.sponsorThree {
  grid-column: 3;
  grid-row: 1;
  box-shadow: 0 0 15px 0 rgba(32, 215, 228, 0.81);
}
.sponsorFour {
  grid-column: 4;
  grid-row: 1;
  box-shadow: 0 0 15px 0 rgba(32, 215, 228, 0.81);
}
.sponsorImg {
  width: 16rem;
  height: 8rem;
}
