.sidebarmenu {
  display: flex;
  justify-content: flex-end;
}
.sidebarmenu__links {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.sidebarmenu__links__link {
  margin-top: 10px;
  margin-bottom: 10px;
}
