@import "../../../scss/imports";
@import "../../../scss/base";

.aboutcontainer {
  display: flex;
  flex-direction: row;
  margin: 7% 0;
  overflow: hidden;
  @media screen and (max-width: $mobile-view) {
    flex-flow: column wrap;
  }

  &__images {   
    margin: 3%;
    @media screen and (max-width: $mobile-view) {
      height: 70%;
    }

    &__spaceship {
      height: auto;
      width: 90%;

      @media screen and (max-width: $mobile-view) {
        width: 70%;
        height: auto;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__Recpurplebig {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 0px;
      left: -51px;

      @media screen and (max-width: $mobile-view) {
        width: 30px;
        height: 30px;
      }
    }

    &__Recpurplesmall {
      width: 13.9px;
      height: 13.9px;
      position: relative;
      top: 15px;
      left: -55px;

      @media screen and (max-width: $mobile-view) {
        width: 11px;
        height: 11px;
        top: 8px;
      }
    }

    &__Recpink {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 355px;
      left: 125px;
      @media screen and (max-width: $mobile-view) {
        width: 22px;
        height: 22px;
        top: 300px;
        left: 95px;
      }
    }

    &__Circpin {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 385px;
      left: -45px;

      @media screen and (max-width: $mobile-view) {
        width: 22px;
        height: 22px;
        top: 330px;
        left: -50px;
      }
    }

    &__Circpurple {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 50px;
      left: 85px;

      @media screen and (max-width: $mobile-view) {
        width: 30px;
        height: 30px;
        top: 40px;
        left: 70px;
      }
    }
  }

  &__card {
    margin: 3%;
    display: flex;
    flex-flow: column;

    &__header {
      margin: 0 auto 30px;
      width: 100%;
      text-align: center;

      @media screen and (max-width: $mobile-view) {
        align-items: center;
        width: 17%;
        margin: 0 auto;
      }
    }

    &__content {
      font-size: 25px;
      font-family: "Gilroy-Light";
      line-height: 30px;
      text-align: start;
      border-left: 2px solid $color-style;
      padding-left: 30px;
      @media screen and (max-width: $mobile-view) {
        text-align: center;
        font-size: 16px;
        margin: auto;
        width: 80%;
        line-height: 18px;
        padding-left: 0px;
        border-left: 0px;
      }

      &__para2 {
        margin-top: 20px;
      }
    }
  }
  
  @media screen and(max-width:$mobile-view) {
    flex-flow: column;
    margin-left: 0px;
  }
}
