@import "../../../scss/imports";
@import "../../../scss/base";

.aboutcontainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
  overflow: hidden;
  @media screen and (max-width: $mobile-view) {
    flex-flow: column wrap;
  }

  &__images {
    margin-left: 50px;
    @media screen and (max-width: $mobile-view) {
      flex-flow: column wrap;
      height: 420px;
      margin-left: 210px;
    }

    &__spaceship {
      width: 350px;
      height: 420px;
      transform: translateX(-100px);
      position: absolute;

      @media screen and (max-width: $mobile-view) {
        width: 300px;
        height: 370px;
      }
    }

    &__Recpurplebig {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 0px;
      left: -51px;

      @media screen and (max-width: $mobile-view) {
        width: 30px;
        height: 30px;
      }
    }

    &__Recpurplesmall {
      width: 13.9px;
      height: 13.9px;
      position: relative;
      top: 15px;
      left: -55px;

      @media screen and (max-width: $mobile-view) {
        width: 11px;
        height: 11px;
        top: 8px;
      }
    }

    &__Recpink {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 355px;
      left: 125px;
      @media screen and (max-width: $mobile-view) {
        width: 22px;
        height: 22px;
        top: 300px;
        left: 95px;
      }
    }

    &__Circpin {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 385px;
      left: -45px;

      @media screen and (max-width: $mobile-view) {
        width: 22px;
        height: 22px;
        top: 330px;
        left: -50px;
      }
    }

    &__Circpurple {
      width: 33.9px;
      height: 33.9px;
      position: relative;
      top: 50px;
      left: 85px;

      @media screen and (max-width: $mobile-view) {
        width: 30px;
        height: 30px;
        top: 40px;
        left: 70px;
      }
    }
  }

  &__card {
    width: 620px;
    height: 550px;
    display: flex;

    @media screen and (max-width: 1340px) {
      height: 550px;
      padding: 0;
    }

    @media screen and (max-width: $mobile-view) {
      height: 400px;
      width: 100%;
    }

    flex-flow: column;

    &__header {
      margin: 0 auto;
      font-size: 40px;
      width: 100%;
      font-weight: 900;
      font-family: "Galano-Bold";
      line-height: 70px;
      text-align: center;
      padding-top: 40px;

      @media screen and (max-width: $mobile-view) {
        padding-top: 20px;

        align-items: center;
        width: 17%;
        font-size: 21px;
      }
    }

    &__content {
      font-size: 25px;
      font-family: "Gilroy-Light";
      line-height: 30px;
      text-align: start;
      @media screen and (max-width: $mobile-view) {
        margin-right: 22px;
        text-align: center;
        font-size: 16px;
        padding: 15px 40px;
        width: 80%;
        line-height: 18px;
      }

      &__para2 {
        margin-top: 20px;
      }
    }
  }

  @media screen and(max-width:$mobile-view) {
    flex-flow: column;
    margin-left: 0px;
  }
}
