@import "../../scss/imports";
@import "../../scss/base";

.main {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  &__container {
    height: max-content;
    justify-content: center;

    &__title {
      font-size: 80px;
      font-weight: 800;
      font-stretch: normal;
      font-family: "Galano-Bold";
      line-height: 1.22;
      letter-spacing: normal;
      color: #ffffff;

      @media screen and (max-width: $mobile-view) {
        margin: 0 auto;
        font-size: 49px;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
  }
}
