#root-loader {
  position: fixed;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}

#root-loader img {
  height: 125px;
  animation: loader-glow 0.5s linear infinite;
}

@keyframes loader-glow {
  0% {
    filter: brightness(150%);
  }
  50% {
    filter: brightness(250%);
  }
}