@import "../../../scss/imports";

.past-glimpse {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  &__container {
    width: 620px;
    height: 550px;
    padding: 0px 80px 0px 80px;
    display: flex;
    flex-flow: column;

    &__heading {
      margin: 0 auto;
      font-size: 40px;
    }

    &__slideshow {
      margin: 80px auto;
      width: 620px;
      height: 430px;
      border-left: 4px solid $color-style;
      border-right: 4px solid $color-style;
      padding-right: 28px;

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 5px solid $color-style;
        background-color: #222222;
        border-radius: 50%;
        transform: translate(-17px, -20px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 5px solid $color-style;
        background-color: #222222;
        border-radius: 50%;
        transform: translate(635px, -410px);
      }

      &__slide {
        width: 580px;
        height: 100%;
      }
    }
  }

  &__images {
    &__group {
      width: 430px;
      height: 540px;
      transform: translateX(75px);
    }

    &__rec1 {
      width: 43.9px;
      height: 43.9px;
      transform: translate(410px,-170px);
    }

    &__rec2 {
      width: 30.5px;
      height: 30.5px;
      transform: translate(400px,-90px);
    }

    &__elli1 {
      width: 36.8px;
      height: 36.8px;
      transform: translate(370px,-140px);
    }

    &__elli2 {
      width: 19.4px;
      height: 19.4px;
      transform: translate(380px,-110px);
    }
  }
}
