@import "src/scss/imports";
.Social{

  @media screen and (max-width: 600px) {
        margin-bottom: 50px;
        display:flex;
        align-items:center;
        flex-flow: column wrap;
      }
  
&__font-awe {
  position: absolute;
  color: $color-style;
  list-style-type: none;
  right:30px;
  bottom: 20px;
  z-index: 1;
  @media screen and (max-width: 600px) {
        position:relative;
         right: 4px;
        align-self:center;
        display:flex;
        flex-flow: row wrap;
        z-index:0;
        margin-top:110px;
        margin-bottom:30px;
      }

  &__verticalLine {
    width: 0.1px;
    background-color: $color-style;
    border: 3px solid;
    height: 100px;
    margin-left:20px;
    border-radius: 2px;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
        display:none;
      }
  }
}

.social-links-li {
  margin-top:10px;
  cursor: pointer;
  margin-left:10px;


  @media screen and (max-width: 600px) {
    margin-left: 0px;
    &:not(:first-of-type) {
      margin-left:60px;
    }
  }
}
&__arrowdown{
  @media screen and (max-width: 600px) {
        display:flex;
        color: $color-style;
        
      }
  display:none;
 
}
}
