.footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-top: 2px solid grey;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 32px;
    overflow: hidden;

    @media (min-width: 600px) and (max-width: 823px) {
        padding-top: 21px;
        padding-bottom: 0px;
        height: 80%;
    }

    @media (max-width: 600px) {
        justify-content: center;
        width: 90%;
        flex-flow: column;
        padding: 21px 0px 50px;
        height: 450px;
    }
}

.footer_u {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
    height: 150%;
    margin: 0 auto;

    @media (min-width: 600px) and (max-width: 823px) {
        width: 70%;
        height: 80%;
    }

    &__logo {
        display: flex;
        flex-flow: row;
        justify-content: left;
        width: 100%;

        @media (max-width: 823px) {
            justify-content: center;
        }

        @media (max-width: 600px) {
            justify-content: center;
        }
    }

    &__logo_svg {
        padding-top: 36px;
        padding-left: 5%;
        width: 120px;

        @media (min-width: 824px) and (max-width: 1280px) {
            width: 90px
        }

        @media (min-width: 600px) and (max-width: 823px) {
            width: 60px;

        }

        @media (max-width: 600px) {
            width: 60px;
            padding-top: 24px;
            padding-left: 15%;
        }
    }

    &__logo_span {
        padding: 72px 24px 0px 12px;
        align-content: flex-end;
        width: 300px;
        height: 168px;
        font-size: 21.6px;
        font-weight: 280;
        line-height: 1.13;
        text-align: left;
        color: #ffffff;

        @media (min-width: 824px) and (max-width: 1280px) {
            padding: 64px 24px 0px 10px;
            align-content: flex-start;
            width: 240px;
            height: 144px;
            font-size: 15px;
        }

        @media (min-width: 600px) and (max-width: 823px) {
            padding: 54px 24px 0px 10px;
            align-content: flex-start;
            width: 170px;
            height: 126px;
            font-size: 12px;
        }

        @media (max-width: 600px) {
            padding: 42px 24px 0px 10px;
            align-content: flex-start;
            width: 230px;
            height: 96px;
            font-size: 1rem;
        }
    }
}

.footer_l {
    display: flex;
    flex-flow: row;

    @media (min-width: 812px) {
        justify-content: flex-end;
        width: 78%;
    }

    @media (max-width: 823px) {
        justify-content: flex-start;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        width: 89%;
        height: 80%
    }

    @media (max-width: 600px) {
        flex-flow: column;
        justify-content: center;
        margin-left: 1.25vw;
        margin-right: 1.25vw;
    }

    &__links {
        width: 160px;
        height: 168px;
        font-size: 100%;
        font-weight: 300;
        line-height: 1.15;
        text-align: left;
        color: #ffffff;
        padding-left: 5%;

        @media (max-width: 1280px) {
            font-size: 12px;
            padding-left: 0%;
            width: 144px;
        }

        @media (max-width: 823px) {
            width: 90px;
            height: 122px;
            font-size: 10px;
            padding-left: 0px;
        }

        @media (max-width: 600px) {
            width: 96%;
            font-size: 87.06%;
            padding-left: 0px;
            height: 156px;
            justify-content: center;
            text-align: center;
            padding-bottom: 2rem;
        }

        &_content {
            padding: 8px 2px;
            width: 400px;

            @media (max-width: 823px) {
                width: 100%;
                padding: 6px 2px;
            }
        }

        &_cn {
            color: #ffffff;
        }
    }

    &__contact {
        width: 100%;
        height: 168px;
        font-size: 100%;
        font-weight: 300;
        line-height: 1.15;
        text-align: left;
        color: #ffffff;
        padding-left: 3.2%;

        @media (max-width: 1280px) {
            font-size: 12px;
            padding-left: 0%;
        }

        @media (max-width: 823px) {
            font-size: 10px;
            padding-left: 3%;
        }

        @media (max-width: 600px) {
            width: 96%;
            font-size: 87.06%;
            padding-left: 0px;
            text-align: center;
            justify-content: center;
            padding-bottom: 10px;
        }

        &_content {
            padding: 8px 2px;
            width: 400px;

            @media (max-width: 823px) {
                width: 100%;
                padding: 6px 2px;
            }
        }

        &_cn {
            color: #ffffff;
        }

        &_gmap {
            padding: 16px 0px;

            @media (max-width: 823px) {
                padding: 12px 2px;
            }
        }
    }

    &__hr {
        display: flex;
        font-family: 'Galano-Bold';

        @media (max-width: 600px) {
            justify-content: center;
        }

        &_container {
            @media (max-width: 600px) {
                justify-content: center;
            }
        }
    }

    &__hr_text {
        width: 52.2px;
        padding-top: 12px;
        padding-left: 9.6px;
        height: 0px;

        @media (max-width: 823px) {
            width: 28px;
            padding-top: 8px;
        }

        @media (max-width: 600px) {
            justify-content: center;
        }

        &_1 {
            width: 28px;
            padding-top: 8px;
            padding-left: 9.6px;
            padding-right: 9.6px;
            height: 0px;

            @media (min-width: 415px) {
                display: none;
            }
        }
    }
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
b {
    font-weight: 3500;
}