.box {
  border-radius: 18px;
  border: solid 2px #56ceca;
  min-width: 320px;
  margin: 0 10px;
}

.Countdown {
  margin: 8px auto;
}

.Countdown-col {
  display: inline-block;
  width: 80px;
  text-align: center;
  position: relative;

  strong {
    font-size: 50px;
    transition: all 0.5s linear;
  }
}

.animation {
  transform: rotateX(90deg);
  opacity: 0.5;
}

.vl {
  border-left: 2px solid #56ceca;
  font-size: 2.5rem;
}

.countdown-col-label {
  position: absolute;
  top: -35px;
  left: 36px;
}
