.box {
  border-radius: 18px;
  border: solid 2px #56ceca;
  min-width: 320px;
  margin: 0 10px;
  @media screen and (max-width:375px){
    min-width: 164px;
  }
}

.Countdown {
  margin: 4px auto;
}

.Countdown-col {
  display: inline-block;
  width: 78.5px;
  text-align: center;
  position: relative;
  @media screen and (max-width:375px){
    width: 39px;
  }
  strong {
    font-size: 50px;
    transition: all 0.1s linear;
    @media screen and (max-width:375px){
      font-size: 30px;
    }
  }
}

.animation {
  transform: rotateX(90deg);
  opacity: 0.5;
}

.vl {
  border-left: 2px solid #56ceca;
  font-size: 2.5rem;
}

.countdown-col-label {
  position: absolute;
  top: -35px;
  left: 36px;
  @media screen and (max-width:375px){
    left: 15px;
  }
}
