@import "../../../scss/imports";

.cover {
  display: flex;
  width: 80%;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  @media screen and (max-width:600px) {
    flex-flow: column-reverse;
  }
}

.inner-container {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.cerebro-title {
  font-size: 80px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 auto;

}

.cont {
  display: flex;
  padding: 20px 0 70px;
  width: max-content;
  height: max-content;
  align-items: center;
  vertical-align: auto;
  justify-content: center;
  margin: 0 auto;

}

.second-title {
  font-size: 30px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  @media screen and (max-width:600px){
    font-size: 80%;
  }
}

.hr-container-x {
  padding: 1rem;
  display: inline-block;
}

.hr-second-title {
  text-decoration-color: #29abe2;
  width: 3rem;
  padding-top: 0.1rem;
}

.timer {
  display: flex;
  align-items: center;
  vertical-align: auto;
  flex-flow: row;
  margin: 0 auto;
}

.date-labels {
  padding: 38px;
}

.t {
  margin: 0;
  // width: 10px;
  font-size: 25px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  @media screen and (max-width:600px){
    font-size: 80%;
  }
}

.cover-image {
  width: fit-content;
  width: 20rem;
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: center;

  .group {
    width: 100%;
    align-self: center;
  }

  .cover-particle {
    position: absolute;
  }

  .circ1 {
    width: 2rem;
    top: 35%;
    left: -12px;
  }

  .circ2 {
    width: 0.7rem;
    top: 48%;
    left: 15px;
  }

  .circ3 {
    width: 0.5rem;
    // top: -26px;
    right: 85px;
  }

  .circ4 {
    width: 1.5rem;
    top: 20%;
    right: 15px;
  }

  .circ5 {
    width: 1rem;
    top: 50%;
    right: 0px;
  }

  .rect1 {
    width: 3rem;
    top: -10px;
    right: 30%;
  }

  .rect2 {
    width: 1.5rem;
    top: 65%;
    left: 40px;
  }

}
