@import "../../../scss/imports";

.cover {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  height: calc(96vh - 73px);
  @media screen and (max-width:600px) {
    flex-flow: column-reverse;
  }
}

.inner-container {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.cerebro-title {
  font-size: 80px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #ffffff;
  @media screen and (max-width:600px) {
    margin: 0 auto;
  }
 

}

.cont {
  display: flex;
  padding: 20px 0 70px;
  width: max-content;
  height: max-content;
  align-items: center;
  vertical-align: auto;
  justify-content: center;
  @media screen and (max-width:600px) {
    margin: 0 auto;
  }

}

.second-title {
  font-size: 30px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  @media screen and (max-width:600px){
    font-size: 80%;
  }
}

.hr-container-x {
  padding: 1rem;
  display: inline-block;
}

.hr-second-title {
  text-decoration-color: #29abe2;
  width: 3rem;
  padding-top: 0.1rem;
}

.timer {
  display: flex;
  align-items: center;
  vertical-align: auto;
  flex-flow: row;
  @media screen and (max-width:600px) {
    margin: 0 auto;
  }
}

.date-labels {
  padding: 38px;
}

.t {
  margin: 0;
  // width: 10px;
  font-size: 25px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  @media screen and (max-width:600px){
    font-size: 80%;
  }
}

.cover-image {
  width: fit-content;
  width: 41rem;
  height: 25rem;
  position: relative;
  display: flex;
  justify-content: center;

  .group {
    width: 36rem;
    align-self: center;
  }

  .cover-particle {
    position: absolute;
  }

  .circ1 {
    width: 3rem;
    top: 30%;
    left: 5%;
  }

  .circ2 {
    width: 1rem;
    top: 45%;
    left: 12%;
  }

  .circ3 {
    width: 0.8rem;
    top: -18%;
    right: 32%;
  }

  .circ4 {
    width: 2rem;
    top: 8%;
    right: 10%;
  }

  .circ5 {
    width: 1.3rem;
    top: 50%;
    right: 6%;
  }

  .rect1 {
    width: 3.5rem;
    top: -20%;
    right: 35%;
  }

  .rect2 {
    width: 2.5rem;
    top: 70%;
    left: 15%;
  }
}
